<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinomaps.geobookar"
    android:installLocation="preferExternal">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:icon="@mipmap/ar_ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:largeHeap="true"-->
<!--        android:theme="@style/AR_AppTheme">-->
<!--        <activity-->
<!--            android:name=".ui.TestActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".ui.ResModelActivity" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" />-->
<!--        <activity android:name=".ui.MultiObjectActivity" />-->
<!--        <activity android:name=".ar.ObjectScanActivity" />-->
<!--    </application>-->
</manifest>
